
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'aiguide/css/Login.css' %}">

</head>
<body>
    <div class="login-container">
        <div class="form-card">
            <h2 class="form-title">Login Form</h2>
            <div class="tab-switch">
                <button class="tab active">Login</button>
                <button class="tab">Signup</button>
                
                


            </div>
            <form>
                <input type="email" placeholder="Email Address" class="form-input">
                <input type="password" placeholder="Password" class="form-input">
                <a href="#" class="forgot-password">Forgot password?</a>
                <button type="submit" class="form-button">Login</button>
            </form>
            <p class="signup-link">Create an account <a href="{%url 'signup'%}">Signup now</a></p>
        </div>
    </div>
</body>
</html>
